@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

* {
    padding: 0;
    margin: 0; 
    font-family: 'DM Mono', monospace;
}

h1 {
    margin-bottom: 8px;
    margin-left: 40px
}

h3 {
    margin-left: 50px;
}

#start-button {
    background-color: red;
    border:2px solid white;
    color: white;
    padding: 4px;
    margin: 8px 0;
    margin-left: 50px;
    text-decoration: none;
    display: inline-block;
}

#start-button:hover {
    background-color: white;
    border:2px solid red;
    color: red;
}

#container {
    display: flex; 
    width: 100vw;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: black;
    border: 2px solid yellow;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    outline: 1px solid white;

}

.mini-grid {
    height: 80px;
    width: 80px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid yellow;
    background-color: black;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}
